/* Color Theme
Dark Purple  Peach      Dark Blue      Light Blue      Black
#191B58      #FAA68C     #3C6997       #5ADBFF        #050505
*/

@font-face {
  font-family: Open-Sans-Light;
  src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Open-Sans-Bold;
  src: url(fonts/Open_Sans/OpenSans-Bold.ttf);
}

h1 {
  font-family: Open-Sans-Bold;
}

.App {
  font-family: Open-Sans-Light;
  color: white;
  background-color: #2E2532;
}

.container-fluid {
  padding: 20px;
  min-height: 100vh;
}

.project-container {
  background-color: #e9e9e9;
  color:black;
}

.about-container {
  background-color: black;
}

.header {
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  margin: 0;
  height: 45px;
}

.item {
  padding: 11px 15px 11px 15px;
  color: white;
}

.nav-item :hover {
  background-color: rgba(0,0,0,0.3);
  text-decoration: none;
  color: white;
}

.home-section {
  background-color: rgba(0,0,0,0.3);
  border-radius: 5px;
  color: white;
  margin: auto;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 30px;
  padding: 25px;
}

.contact-btn {
  margin: auto;
  text-align: center;
  margin-top: 2em;
}

#home-animation {
  margin: auto;
  text-align: center;
  margin-top: 1em;
}

.animation-rect {
  z-index: -1;
}

.project {
  text-align: center;
}

/* SNAKE GAME CSS */
#game-space {
  padding: 10px;
}

.game-intro {
  fill: white;
  text-anchor: middle;
}

#end-text {
  position: relative;
  color: white;
  top: -180px;
}

#start-game {
  padding: 20px;
}

#board {
  background-color: rgba(0,0,0,0.8);
}

#score {
  display: none;
}

.snake-container {
  color: black;
  min-height: 600px;
  text-align: center;
  background-color: #e5e5e5;
}

.snake-container h1 {
  padding-top: 20px;
}

#pause-game {
  display: none;
}
/*END SNAKE GAME CSS*/

.footer {
  position: relative;
  margin-top: 0px;
  height: 50px;
  padding: 10px 20px 10px 20px;
  width: 100%;
  text-align: center;
  border-top: solid black 2px;
  background-image: linear-gradient(to bottom right, hsla(214, 60%, 15%, 1), hsla(216, 99%, 29%, 1));
}

#copyright {
  text-align: right;
  font-size: 80%;
  color: black;
  margin: 10px 10px 0 10px;
}

.socialIcon path{
  fill: white;
}

.socialIcon {
  width: 25px;
}

.socialIcon:hover {
  cursor: pointer;
  opacity: 0.6;
}

.projects-row:nth-child(odd) {
  background: #cccccc;
}

.project-title {
  font-family: Open-Sans-Bold;
}

.project-image img{
  width: 350px;
  /*height: 350px;*/
  margin: auto;
  margin: 1em;
}

@media only screen and (max-width: 600px) {
  .project-image img{
    height: 260px;
  }
}

@media only screen and (max-width: 400px) {
  .project-image img{
    height: 160px;
  }
  #copyright {
    display: none;
  }

  .home-section {
    max-width: 100%;
  }

}